*{
    margin: 0;
    padding: 0;
}

header {
    background-color: #99F7AB;
    color: rgb(0, 0, 0);
    padding: 20px;
    grid-area: header;
}

h1{
    text-align: center;
}

nav {
    background-color: #ABDF75;
    grid-area: nav;
}

main {
    background-color: #6fabe4;
    color: rgb(0, 0, 0);
    grid-area: main;
}

aside {
    background-color: #C5D6D8;
    grid-area: aside;
}

footer {
    background-color: #60695C;
    color: white;
    grid-area: footer;
}

body {
    display: grid;
    grid-template-columns: 20% 60% 20%;
    grid-template-rows: auto;
    grid-template-areas:
        "header header header"
        "nav nav nav"
        "main main main"
        "footer footer footer" ;
}

ul{
    display: flex;
    text-decoration: none;
    list-style: none;
    position: sticky;
    justify-content: space-around;
}

nav li a {
    text-decoration: none;
    display: block;
    justify-content: space-around;
    padding: 14px 16px;
    color: black;
}

nav li a:hover{
    background-color: #60695C;
    border: 50px;
}